<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

<insert id="insert" parameterType="spring.Dto.WriteFormCommand">
insert into board values(board_num.nextval 
,#{writer},#{email},#{subject},#{passwd},#{reg_date}
, default,#{ref},#{re_step},#{re_level},#{content},#{ip})
</insert>

<select id="listGet" parameterType="list" resultType="spring.Dto.WriteFormCommand">
select num,writer,email,subject,passwd,reg_date,ref,re_step,re_level,content,ip,readcount 
from (
select num,writer,email,subject,passwd,reg_date,ref,re_step,re_level,content,ip,readcount,rownum r
from (
select num,writer,email,subject,passwd,reg_date,ref,re_step,re_level,content,ip,readcount
from board 
order by ref desc, re_step asc) 
order by ref desc, re_step asc ) 

<![CDATA[      
where r >= #{startRow} and r <= #{endRow}
]]> 
</select>



<select id="getArticleCount" resultType="int">

select count(*) from board

</select>

<select id="content" parameterType="int" resultType="spring.Dto.WriteFormCommand">
select * from board where num =#{num}
</select>


</mapper>

