<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">

<select id="count" parameterType="int"  resultType="int">

select count(*) from b_comment where content_num = #{content_num}

</select>


<insert id="insert" parameterType="spring.Dto.CommentCommand">

insert into b_comment values(#{content_num},#{commenter},#{commentt},#{passwd},#{reg_date},#{ip},b_comment_squence.nextval)
</insert>

<select id="getList" parameterType="map"  resultType="spring.Dto.CommentCommand">
select *
from
(
select comment_num,commenter, commentt, reg_date,rowNum as r
from
(
select comment_num,commenter, commentt, reg_date 
from b_comment 
where content_num = #{content_num}
order by comment_num desc
)V
)T
where T.r between #{commentStartRow} and #{commentEndRow}

</select>


</mapper>
